<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Esame</display-name>
    <description>
      esame
    </description>

	<!-- Context attributes to be used throughout the application -->
	<context-param>
		<param-name>dao</param-name>
		<param-value>IDENTIFICATIVO_DELL_IMPLEMENTAZIONE</param-value>
	</context-param>
	
    <!-- Define servlets that are included in the application -->

	<!-- Welcome pages -->
	<!-- pleonastico: tomcat "tenta" in automatico le index.html e index.jsp -->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatAgent</servlet-name>
		<servlet-class>servlets.ChatAgent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatAgent</servlet-name>
		<url-pattern>/chatagent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/adminservlet</url-pattern>
	</servlet-mapping>
	
	<!--Set session inactivity timeout in minutes,
	in alternative use this java code:
	
	HttpSession session = request.getSession();
	//uses seconds
	session.setMaxInactiveInterval(20*60);
	
	-->
	
	<!--
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	-->
		
	<!-- Handle exceptions and errors -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/failure.jsp</location>
	</error-page>
	 
</web-app>
